<section class="d-flex flex-column align-items-center">
  <h1 class="text-white mb-3">Chi vuole guardare Netflix?</h1>
  <div *ngIf="account" class="d-flex w-75 justify-content-between">
    <div *ngFor="let item of account.users" class="user">
      <div class=" d-flex flex-column text-center crd">
        <img src="{{item.img}}" alt="img logo" class="square text-center" routerLink="../Browse" (click)=choseUser(item)/>

        <span class="h5">
          {{ item.user }}
        </span>
      </div>
    </div>
  </div>
</section>
