section{
    background: url(../../../assets/img/bg-header.jpg);
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header{
    width: 100vw;
    padding: 1.5rem 3.5rem;
}
div{
    width: 100vw;
}