section{
    height: 35rem;
}
video{
    z-index: 0;
    position: relative;
    top: -24rem;
    left: 5rem;
}

img[alt="image"]{
    position: relative;
    z-index: 1;
}

.littleVideo{
    top: -27rem;
    left: 7rem;
    width: 25rem;
}