
<div id="faq-main-container">

    <h1>Domande frequenti</h1>



    
    <ngb-accordion [destroyOnHide]='false' [closeOthers]="true" activeIds="">
        <ngb-panel id="static-1">
        <ng-template ngbPanelTitle> <div class="titoloecroce">Cos'è Netflix? <div id="croce">+</div> </div></ng-template>
          <ng-template ngbPanelContent>
            <p>
                Netflix è un servizio di streaming che offre una varietà di serie TV, film, documentari pluripremiati e tanto altro su una vasta 
            gamma di dispositivi connessi a Internet.
            </p>

            <p>
                Guarda quello che vuoi, in qualsiasi momento e senza interruzioni pubblicitarie. Il tutto a una quota mensile ridotta. 
            C'è sempre qualcosa di nuovo da scoprire: aggiungiamo nuovi film e serie TV ogni settimana!
            </p>
            
           
          </ng-template>
        </ngb-panel>




        <ngb-panel id="static-2">
          <ng-template ngbPanelTitle> <div class="titoloecroce">Quanto costa Netflix? <div id="croce">+</div> </div></ng-template>
          <ng-template ngbPanelContent>
            Guarda Netflix su smartphone, tablet, Smart TV, laptop o dispositivi per lo streaming, il tutto per un importo mensile fisso. 
            Piani da 7,99 € a 17,99 € al mese. Nessun costo aggiuntivo, nessun contratto.           
          </ng-template>
        </ngb-panel>




        <ngb-panel id="static-3">
        <ng-template ngbPanelTitle> <div class="titoloecroce">Dove posso guardare Netflix? <div id="croce">+</div> </div></ng-template>

          <ng-template ngbPanelContent>
            <p>Guarda Netflix dove vuoi, quando vuoi. Accedi al tuo account per guardare subito Netflix dal tuo computer su netflix.com 
                oppure da qualsiasi dispositivo connesso a Internet che supporta l'app Netflix, come smart TV, smartphone, tablet, lettori multimediali per streaming e console per videogiochi.
            </p>

            <p>Con l'app per iOS, Android e Windows 10 puoi anche scaricare i tuoi programmi preferiti. Usa la funzionalità di download 
                per guardare i contenuti mentre sei in viaggio e senza connessione a Internet. Porta Netflix sempre con te.</p>
          
          </ng-template>
        </ngb-panel>


        <ngb-panel id="static-4" title="">
        <ng-template ngbPanelTitle> <div class="titoloecroce">Come posso disdire? <div id="croce">+</div> </div></ng-template>

            <ng-template ngbPanelContent>
                Netflix è flessibile. Nessun contratto fastidioso e nessun impegno. 
                Puoi facilmente disdire il tuo contratto online con due clic. 
                Nessuna penale: attiva o disdici il tuo account in qualsiasi momento.            
            </ng-template>
          </ngb-panel>



        
          <ngb-panel id="static-5">
            <ng-template ngbPanelTitle> <div class="titoloecroce">Cosa posso guardare su Netflix? <div id="croce">+</div> </div></ng-template>
            <ng-template ngbPanelContent>
                Netflix ha un nutrito catalogo di lungometraggi, documentari, serie TV, anime, originali Netflix pluripremiati e tanto altro.
                 Guarda tutto quello che vuoi, in qualsiasi momento.
            </ng-template>
          </ngb-panel>


          <ngb-panel id="static-6">
            <ng-template ngbPanelTitle> <div class="titoloecroce">Netflix è adatto ai bambini? <div id="croce">+</div> </div></ng-template>

            <ng-template ngbPanelContent>
                <p>L'area Netflix Bambini, già inclusa nell'abbonamento, offre ai genitori un maggiore controllo sui contenuti e 
                    ai più piccoli uno spazio dedicato dove guardare serie TV e film per tutta la famiglia.</p>

                <p>I profili Bambini hanno un filtro famiglia con PIN che ti permette di limitare l'accesso ai contenuti in base alla 
                    fascia d'età e bloccare la visione di titoli specifici.</p>
            </ng-template>
          </ngb-panel>





      </ngb-accordion>
</div>






