
<div id="faq-main-container">

    <h1>Domande frequenti</h1>



    
    <ngb-accordion [destroyOnHide]='false' [closeOthers]="true" activeIds="" data-toggle="collapse" >



        <ngb-panel id="static-1">
        <ng-template  ngbPanelTitle > 
            <div class="titoloecroce" (click)="expand1()"> Cos'è Netflix?
            
            
                <svg [ngStyle]="{'transform': isExpanded1 === true ? 'rotate(-45deg)' : 'rotate(0deg)' }" id="thin-x" viewBox="0 0 26 26" class="svg-2" focusable="true"><path fill="white" d="M10.5 9.3L1.8 0.5 0.5 1.8 9.3 10.5 0.5 19.3 1.8 20.5 10.5 11.8 19.3 20.5 20.5 19.3 11.8 10.5 20.5 1.8 19.3 0.5 10.5 9.3Z"></path></svg>
              </div> </ng-template>
          <ng-template ngbPanelContent>
            <p>
                Netflix è un servizio di streaming che offre una varietà di serie TV, film, documentari pluripremiati e tanto altro su una vasta 
            gamma di dispositivi connessi a Internet.
            </p>

            <p>
                Guarda quello che vuoi, in qualsiasi momento e senza interruzioni pubblicitarie. Il tutto a una quota mensile ridotta. 
            C'è sempre qualcosa di nuovo da scoprire: aggiungiamo nuovi film e serie TV ogni settimana!
            </p>
            
           
          </ng-template>
        </ngb-panel>








        <ngb-panel id="static-2">
            <ng-template ngbPanelTitle><div class="titoloecroce" (click)="expand2()">Quanto costa Netflix?
                
                <svg [ngStyle]="{'transform': isExpanded2 === true ? 'rotate(-45deg)' : 'rotate(0deg)' }" id="thin-x" viewBox="0 0 26 26" class="svg-2" focusable="true"><path fill="white" d="M10.5 9.3L1.8 0.5 0.5 1.8 9.3 10.5 0.5 19.3 1.8 20.5 10.5 11.8 19.3 20.5 20.5 19.3 11.8 10.5 20.5 1.8 19.3 0.5 10.5 9.3Z"></path></svg>

                 </div> </ng-template>
            <ng-template ngbPanelContent>
            Guarda Netflix su smartphone, tablet, Smart TV, laptop o dispositivi per lo streaming, il tutto per un importo mensile fisso. 
            Piani da 7,99 € a 17,99 € al mese. Nessun costo aggiuntivo, nessun contratto.           
          </ng-template>
        </ngb-panel>








        <ngb-panel id="static-3">
        <ng-template ngbPanelTitle> <div class="titoloecroce" (click)="expand3()">Dove posso guardare Netflix? 

            <svg [ngStyle]="{'transform': isExpanded3 === true ? 'rotate(-45deg)' : 'rotate(0deg)' }" id="thin-x" viewBox="0 0 26 26" class="svg-2" focusable="true"><path fill="white" d="M10.5 9.3L1.8 0.5 0.5 1.8 9.3 10.5 0.5 19.3 1.8 20.5 10.5 11.8 19.3 20.5 20.5 19.3 11.8 10.5 20.5 1.8 19.3 0.5 10.5 9.3Z"></path></svg>

            
            </div> </ng-template>

          <ng-template ngbPanelContent>
            <p>Guarda Netflix dove vuoi, quando vuoi. Accedi al tuo account per guardare subito Netflix dal tuo computer su netflix.com 
                oppure da qualsiasi dispositivo connesso a Internet che supporta l'app Netflix, come smart TV, smartphone, tablet, lettori multimediali per streaming e console per videogiochi.
            </p>

            <p>Con l'app per iOS, Android e Windows 10 puoi anche scaricare i tuoi programmi preferiti. Usa la funzionalità di download 
                per guardare i contenuti mentre sei in viaggio e senza connessione a Internet. Porta Netflix sempre con te.</p>
          
          </ng-template>
        </ngb-panel>







        <ngb-panel id="static-4" title="">
            <ng-template ngbPanelTitle> <div class="titoloecroce" (click)="expand4()">Come posso disdire? 

                <svg [ngStyle]="{'transform': isExpanded4 === true ? 'rotate(-45deg)' : 'rotate(0deg)' }" id="thin-x" viewBox="0 0 26 26" class="svg-2" focusable="true"><path fill="white" d="M10.5 9.3L1.8 0.5 0.5 1.8 9.3 10.5 0.5 19.3 1.8 20.5 10.5 11.8 19.3 20.5 20.5 19.3 11.8 10.5 20.5 1.8 19.3 0.5 10.5 9.3Z"></path></svg>

                
            </div> </ng-template>

            <ng-template ngbPanelContent>
                Netflix è flessibile. Nessun contratto fastidioso e nessun impegno. 
                Puoi facilmente disdire il tuo contratto online con due clic. 
                Nessuna penale: attiva o disdici il tuo account in qualsiasi momento.            
            </ng-template>
          </ngb-panel>




          


        
          <ngb-panel id="static-5">
            <ng-template ngbPanelTitle> <div class="titoloecroce" (click)="expand5()">Cosa posso guardare su Netflix? 
                
                <svg [ngStyle]="{'transform': isExpanded5 === true ? 'rotate(-45deg)' : 'rotate(0deg)' }" id="thin-x" viewBox="0 0 26 26" class="svg-2" focusable="true"><path fill="white" d="M10.5 9.3L1.8 0.5 0.5 1.8 9.3 10.5 0.5 19.3 1.8 20.5 10.5 11.8 19.3 20.5 20.5 19.3 11.8 10.5 20.5 1.8 19.3 0.5 10.5 9.3Z"></path></svg>

            </div> </ng-template>
            <ng-template ngbPanelContent>
                Netflix ha un nutrito catalogo di lungometraggi, documentari, serie TV, anime, originali Netflix pluripremiati e tanto altro.
                 Guarda tutto quello che vuoi, in qualsiasi momento.
            </ng-template>
          </ngb-panel>






          <ngb-panel id="static-6">
            <ng-template ngbPanelTitle> <div class="titoloecroce" (click)="expand6()">Netflix è adatto ai bambini? 

                <svg [ngStyle]="{'transform': isExpanded6 === true ? 'rotate(-45deg)' : 'rotate(0deg)' }" id="thin-x" viewBox="0 0 26 26" class="svg-2" focusable="true"><path fill="white" d="M10.5 9.3L1.8 0.5 0.5 1.8 9.3 10.5 0.5 19.3 1.8 20.5 10.5 11.8 19.3 20.5 20.5 19.3 11.8 10.5 20.5 1.8 19.3 0.5 10.5 9.3Z"></path></svg>

                
              </div> </ng-template>

            <ng-template ngbPanelContent>
                <p>L'area Netflix Bambini, già inclusa nell'abbonamento, offre ai genitori un maggiore controllo sui contenuti e 
                    ai più piccoli uno spazio dedicato dove guardare serie TV e film per tutta la famiglia.</p>

                <p>I profili Bambini hanno un filtro famiglia con PIN che ti permette di limitare l'accesso ai contenuti in base alla 
                    fascia d'età e bloccare la visione di titoli specifici.</p>
            </ng-template>
          </ngb-panel>





      </ngb-accordion>

      <div id="faq-p-and-main-subscribe-container">
        <p>Vuoi guardare Netflix? Inserisci l'indirizzo email per abbonarti o riattivare il tuo abbonamento.</p>
        <div id="faq-main-subscribe-container"><main-subscribe></main-subscribe></div>
      </div>
      
   
      
      
</div>






