#continua{
 background-color: rgb(180, 251, 65);   
}
#annulla{
    background-color: rgb(240, 19, 19);
}
img[alt="img_user"]{
    width: 15rem;
    width: 15rem;
    object-fit: cover;
}

img[alt="img_modal"]{
    width: 100%;
}