* {
  margin: 0;
  padding: 0;
  background-color: black;
}

a, #Ptele-number{
  color: #757575;
  margin-bottom: 2rem;
}

section {
  padding: 3rem 4rem;
  border-top: solid 8px #222;
}

ul {
  padding-right: 2rem;
}

li {
  list-style: none;
  margin-bottom: 1rem;
}
