<section >
  <p id="Ptele-number" class="text-left pl-5">Domande? Chiama <a href="#">800-130-364</a></p>
  <div class="d-flex justify-content-center">
    <ul>
      <li *ngFor="let link of col1">
        <a [href]="link.url">{{ link.label }}</a>
      </li>
    </ul>
    <ul>
      <li *ngFor="let link of col2">
        <a [href]="link.url">{{ link.label }}</a>
      </li>
    </ul>
    <ul>
      <li *ngFor="let link of col3">
        <a [href]="link.url">{{ link.label }}</a>
      </li>
    </ul>
    <ul>
      <li *ngFor="let link of col4">
        <a [href]="link.url">{{ link.label }}</a>
      </li>
    </ul>
  </div>
</section>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
