* {
  margin: 0;
  padding: 0;
}

a, #Ptele-number{
  color: #757575;
  margin-bottom: 2rem;
}

section {
  padding: 0 4rem;
}

ul {
  padding-right: 2rem;
}

li {
  list-style: none;
  margin-bottom: 1rem;
}
