<section class="d-flex flex-column align-items-center">
  <img src="https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Devices.png" alt="" class="w-50">
  <p>Passaggio <b>1</b> di <b>3</b></p>

  <h2>Completa la</h2>
  <h2>registrazione</h2>
  <h2>dell'account</h2>

  <p>Netflix è su misura per te. Crea una</p>
  <p>password per guardare quando vuoi,</p>
  <p>su qualsiasi dispositivo.</p>

  <button class="bg-danger text-white p-3 border-0 mt-3 w-100" routerLink="../regform">Continua</button>
</section>
