<div class="box">
  <div class="form">
    <div class="title">
      <h2>Accedi</h2>
    </div>
    <div class="upperform">
      <input
        type="text"
        placeholder="Email o numero di telefono"
        class="inputbar"
      />
      <br />
      <input type="text" placeholder="Password" class="inputbar" />
      <button>Accedi</button>
    </div>
    <div class="lowerform">
      <div class="chkbx">
        <input type="checkbox" id="reminder" checked="true" />
        <label class="simpylabel" for="#reminder">Ricordami</label>
      </div>

      <a class="whitelinks" href="#">Serve aiuto?</a>
    </div>
  </div>
  <div class="bottom">
    <div class="fbline">
      <img
        src="	https://assets.nflxext.com/ffe/siteui/login/images/FB-f-Logo__blue_57.png"
        alt="facebookLogo"
      />
      <a href="#">Accedi con facebook </a>
    </div>
    <h6>
      Prima volta su Netflix?<a class="whitelinks" href="#">Registrati</a>.
    </h6>

    <p>
      Questa pagina è protetta da Google reCAPTCHA per garantire che tu non sia
      un bot. <a href="#">Scopri di più.</a>
    </p>
  </div>
</div>
