<div class="box">
  <form>
    <div class="title">
      <h2>Accedi</h2>
    </div>
    <div class="upperform">
      <input
        type="email"
        placeholder="{{email}}"
        class="inputbar"
        [(ngModel)]="email"
        [ngModelOptions]="{ standalone: true }"
      />
      <br />
      <input
        type="password"
        placeholder="Password"
        class="inputbar"
        [(ngModel)]="pass"
        [ngModelOptions]="{ standalone: true }"
      />
      <button (click)="login()" routerLink="{{ link }}">Accedi</button>
    </div>
    <div class="lowerform">
      <div class="chkbx">
        <input type="checkbox" id="reminder" checked="true" class="mr-2"/>
        <label class="simpylabel" for="#reminder">Ricordami</label>
      </div>
      <a class="text-white" href="#">Serve aiuto?</a>
    </div>
  </form>
  <div class="bottom">
    <div class="fbline">
      <img
        src="	https://assets.nflxext.com/ffe/siteui/login/images/FB-f-Logo__blue_57.png"
        alt="facebookLogo"
      />
      <a href="#">Accedi con facebook </a>
    </div>
    <h6>
      Prima volta su Netflix?<a class="whitelinks" href="#">Registrati</a>.
    </h6>

    <p>
      Questa pagina è protetta da Google reCAPTCHA per garantire che tu non sia
      un bot. <a href="#">Scopri di più.</a>
    </p>
  </div>
</div>
