video{
    z-index: 0;
    position: relative;
    top: -24rem;
    left: 5rem;
}
video::last-child{
    top: -27rem;
    left: 6rem;
    
}
img[alt="image"]{
    position: relative;
    z-index: 1;
}